h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 0px auto;
  }

  #box1{
    background-image: url(./images/crox-call-of-duty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #box2{
    background-image: url(./images/crox-fortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #box3{
    background-image: url(./images/crox-pubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #box4{
    background-image: url(./images/crox-reaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .box {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid violet; */
    font-size: 40px;
    cursor: pointer;
  
  

  }

  .box:hover {
    background-color: violet;
    color: white;
  }
  
  .info_box {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid violet;
    margin-top: 20px;
    padding: 10px;
  }
  
  .msg {
    text-align: center;
  }
  /* ------------------------ */

