h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 0px auto;
   
  }

  #box1{
    background-image: url(./images/crox-call-of-duty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #box2{
    background-image: url(./images/crox-fortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #box3{
    background-image: url(./images/crox-pubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #box4{
    background-image: url(./images/crox-reaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .box {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid violet; */
    font-size: 40px;
    cursor: pointer;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s ease-in-out;
  
   

    
  
  

  }

  .box:hover {
    background-color: violet;
    color: white;
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
    

    
  }
  
  .info_box {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid violet;
    margin-top: 20px;
    padding: 10px;
    background-color: violet;
    color: #000000;
    transition: 0.2s ease-in-out;
  }

  .info_box:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.04);
  }
  
  .msg {
    text-align: center;
  }
  /* ------------------------ */

